/* 메인 */
	.main-war{
	width:100%;
	height:auto;
	margin: 0 auto;
	text-align:center;
	}

	.main-war-25{
	float:left; 
	width:25%; 
	height:auto; 
}
	.main-war-50{
	float:left; 
	width:50%; 
	height:auto; 
}
	.main-war-75{
	float:left; 
	width:75%; 
	height:auto; 
}

	.pr-1{
	padding:50px;
	}

	.font-16{
	font-size:16px;
	line-height:20px;
	font-weight:200;
	color:#414141;
	}

	.font-22{
	font-size:16px;
	line-height:20px;
	font-weight:200;
	color:#414141;
	}

	.font-30{
	font-size:30px;
	line-height:30px;
	font-weight:1000;
	color:#2ba0db;
	}
	
	.font-30-r{
	font-size:30px;
	line-height:30px;
	font-weight:1000;
	color:#ff2a5c;
	}

	.font-30-b{
	font-size:30px;
	line-height:30px;
	font-weight:1000;
	color:black;
	}

	.font-45{
	font-size:45px;
	line-height:50px;
	font-weight:1000;
	color:black;
	}

	.footer{
	float:left;
	width:100%;
	height:200px;
	padding:50px;
	text-align:left;
	background-color:#a8b4ff;
	color:white;
	}

	.main-img img{
	width:90px;
	padding:15px;
	}

/* 절취선 */
	.bor {
	border-bottom: 1px solid #dbdbdb;
	padding-top:50px;
	margin-bottom:50px;
	}

/* 상단메뉴 */
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

	html { box-sizing: border-box; }

	*, *:before, *:after { box-sizing: inherit; }

	body {
		background: #fafafa;
		font-family: "Roboto", sans-serif;
		font-size: 18px;
		margin: 0;
	}

	a { text-decoration: none; }

	.container {
		width: 1000px;
		/*margin: auto; 가운데 정렬하고 싶으면 활성화 하세요 */
		}

	h1 { text-align:center; margin-top:150px;}


	nav { background: #2ba0db; }

	nav ul {
		font-size: 0;
		margin: 0;
		padding: 0;
	}

	nav ul li {
		display: inline-block;
		position: relative;
	}

	nav ul li a {
		color: #fff;
		display: block;
		font-size: 20px;
		padding: 30px 30px;
		font-weight:300;
		transition: 0.3s linear;
	}

	nav ul li:hover { background: #126d9b; }

	nav ul li ul {
		border-bottom: 5px solid #2ba0db;
		display: none;
		position: absolute;
		width: 250px;
	}

	nav ul li ul li {
		border-top: 1px solid #444;
		display: block;
	}

	nav ul li ul li:first-child { border-top: none; }

	nav ul li ul li a {
		background: #373737;
		display: block;
		padding: 10px 14px;
	}

	nav ul li ul li a:hover { background: #126d9b; }

	nav .fa.fa-angle-down { margin-left: 6px; }


/* 좌측메뉴 */
.sidebar ul {
	float:right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
	margin-top:20px;
	font-size:14px;
    background-color: #;
}
.sidebar li a {
    display: block;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
}
.sidebar li a.active {
    background-color: #;
    color: black;
}
.sidebar li a:hover:not(.active) {
    background-color: #;
    color: black;
}